.clear-both, .header:after, .footer:after, #about .content .part > .part-content .item:after, #about .content:after, #blog .list:after {
  content: " ";
  display: table;
  clear: both; }

.separate-line {
  border-top: 1px solid #DFDFDF;
  width: 90px;
  margin: 30px 0px; }

@media (min-width: 980px) {
  .header {
    padding: 85px 122px 0px 122px; } }
.header .brand {
  font-size: 25px;
  float: left;
  color: #303030; }
  @media (max-width: 980px) {
    .header .brand {
      display: none; } }
.header .nav {
  padding-top: 12px;
  float: right; }
  .header .nav li {
    color: #999999;
    font-size: 16px;
    width: 80px;
    cursor: pointer;
    text-align: center;
    display: inline-block; }
    .header .nav li.active {
      color: #303030; }

.footer {
  height: 215px;
  padding: 81px 122px;
  margin-top: 135px;
  background-color: #F2F2F2; }
  .footer .left {
    float: left; }
    .footer .left .copyright {
      color: #303030; }
    .footer .left .resume {
      color: #999999;
      margin-top: 17px; }
  .footer .right {
    float: right; }
    .footer .right .nav li {
      display: inline-block; }

#about {
  color: #141414;
  font-family: 'PingFang SC'; }
  @media (min-width: 980px) {
    #about {
      padding: 100px 122px; } }
  #about * {
    box-sizing: border-box; }
  #about p {
    margin: 0px; }
  #about a {
    display: inline;
    color: #141414;
    text-decoration: underline; }
  #about .resume-title {
    border-bottom: 2px solid #D1D0D2;
    padding-bottom: 5px; }
    #about .resume-title .cn-name, #about .resume-title .zn-name {
      letter-spacing: 2px;
      font-size: 28px;
      font-weight: bold; }
    #about .resume-title .position {
      line-height: 30px;
      font-size: 15px;
      color: #8B898D; }
  #about .content .left {
    width: 25%;
    float: left; }
  #about .content .right {
    border-left: 2px solid #D1D0D2;
    padding-left: 20px;
    width: 74%;
    float: left; }
  #about .content .part {
    margin-top: 16px;
    padding-bottom: 5px; }
    #about .content .part > .title {
      white-space: nowrap;
      letter-spacing: 3px;
      width: 34px;
      font-weight: bold;
      font-size: 15px;
      border-bottom: 3px solid black;
      padding-bottom: 8px; }
    #about .content .part > .part-content {
      margin-top: 18px; }
      #about .content .part > .part-content .item {
        font-size: 10px;
        margin-bottom: 10px; }
        #about .content .part > .part-content .item .title {
          font-size: 11px;
          font-weight: bold;
          line-height: 20px; }
        #about .content .part > .part-content .item .time {
          width: 25%;
          float: left; }
        #about .content .part > .part-content .item .details {
          margin-top: -1px;
          width: 75%;
          line-height: 14px;
          float: left; }
          #about .content .part > .part-content .item .details a {
            font-weight: bold; }
          #about .content .part > .part-content .item .details i {
            float: right;
            color: #8B898D;
            font-size: 8px; }
        #about .content .part > .part-content .item p {
          line-height: 14px; }
  #about .content #education, #about .content #work-experiment {
    border-bottom: 2px solid #D1D0D2; }

#blog .select {
  margin: 100px 0px 0px 122px; }
  #blog .select .current-type {
    display: inline-block;
    color: #303030;
    font-size: 30px; }
  #blog .select i {
    margin-left: 15px;
    vertical-align: super;
    color: #999999;
    cursor: pointer; }
  @media (max-width: 980px) {
    #blog .select {
      margin: 5% 10%; } }
#blog .list {
  margin-top: 80px; }
  #blog .list .article {
    float: left;
    width: 50%;
    height: 430px;
    padding: 88px 122px; }
    #blog .list .article.active {
      background-color: #F2F2F2; }
    #blog .list .article .title {
      color: #303030;
      font-size: 30px;
      text-align: left; }
    #blog .list .article .summary {
      color: #999999;
      font-size: 18px;
      line-height: 40px;
      height: 120px;
      word-break: break-all;
      overflow-y: hidden; }
    #blog .list .article .create-time {
      margin-top: 20px;
      color: #999999;
      font-size: 18px;
      text-align: right; }
    @media (max-width: 980px) {
      #blog .list .article {
        width: 100%;
        padding: 5% 10%;
        margin-top: 0px; } }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00; }

@media (min-width: 980px) {
  #article {
    padding: 100px 122px; } }
#article .title {
  text-align: center;
  color: #303030;
  font-size: 30px; }
#article .markdown {
  margin-top: 60px; }

body {
  background-color: white;
  font-family: PingHei, "PingFang SC", "Helvetica Neue", Helvetica, STHeitiSC-Light, Arial, sans-serif; }

.markdown {
  color: #303030; }
  .markdown img {
    max-width: 500px;
    max-height: 800px;
    margin: 20px 0px; }
  .markdown ul {
    margin-top: 5px;
    margin-bottom: 15px; }
  .markdown em {
    font-size: 13px; }
  .markdown h3 {
    margin-top: 30px;
    color: #2F2F2F; }

a:hover, a:focus, a:active {
  text-decoration: none; }

/*# sourceMappingURL=base.css.map */
