#article {
    @media (min-width: $breakWidth) {
        padding: 100px 122px;
    }
    .title {
        text-align: center;
        color: $textBlack;
        font-size: 30px;
    }
    .markdown {
        margin-top: 60px;
    }
}