#article {
    @media (min-width: $breakWidth) {
        padding: 100px 122px;
    }
    .title {
        text-align: center;
        color: $textBlack;
        font-size: 30px;
    }
    .markdown {
        margin-top: 60px;
    }

    #disqus_thread {
        margin: 80px 30px 0px 30px;
    }

    blockquote {
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
      color: gray;
    }
}
