@mixin border($value) {
    @if $value == 'left' {border-left: solid 1px rgb(223,223,223);}
    @if $value == 'right' {border-right: solid 1px rgb(223,223,223);}
    @if $value == 'top' {border-top: solid 1px rgb(223,223,223);}
    @if $value == 'bottom' {border-bottom: solid 1px rgb(223,223,223);}
}