$mainBackgroudColor: white;
$mainFontFamily: "Interstate-ExtraLight", "Helvetica", "STHeiti";


$textDeepBlack: #2F2F2F;
$textBlack: #303030;
$textGray: #999999;
$bgGray: #F2F2F2;

$breakWidth: 980px;