$mainBackgroudColor: white;
$mainFontFamily: PingHei, 'PingFang SC', 'Helvetica Neue', Helvetica, STHeitiSC-Light, Arial, sans-serif;


$textDeepBlack: #2F2F2F;
$textBlack: #303030;
$textGray: #999999;
$bgGray: #F2F2F2;

$breakWidth: 980px;