<div class="inner-wrap" id="about">
    <div class="resume-title">
        <div class="cn-name">
            刘乾
        </div>
        <div class="zn-name">
            Sway
        </div>
        <div class="position">
            Web / Mobile Developer
        </div>
    </div>
    <div class="content">
        <div class="left">
            <div class="part" id="contact">
                <div class="title">
                    CONTACT
                </div>
                <div class="part-content">
                    <div class="item">
                        <div class="title">PHONE</div>
                        <p>131-2215-2625</p>
                    </div>
                    <div class="item">
                        <div class="title">EMAIL</div>
                        <p><a href="mailto:swaylq0913@gmail.com">swaylq0913@gmail.com</a></p>
                    </div>
                    <div class="item">
                        <div class="title">GITHUB</div>
                        <p><a href="https://github.com/swaylq">https://github.com/swaylq</a></p>
                    </div>
                    <div class="item">
                        <div class="title">WEBSITE</div>
                        <p><a href="http://swaylq.me/">http://swaylq.me</a></p>
                    </div>
                </div>
            </div>
            <div class="part" id="skills">
                <div class="title">
                    SKILLS
                </div>
                <div class="part-content">
                    <div class="item">
                        <div class="title">Web Font-end</div>
                        <p>语言：JavaScript</p>
                        <p>框架：jQuery, AngularJS</p>
                        <p>工具：Gulp, Webpack, Sass</p>
                    </div>
                    <div class="item">
                        <div class="title">Web Back-end</div>
                        <p>语言：PHP, Python</p>
                        <p>框架：Laravel, Django</p>
                        <p>工具：Docker</p>
                    </div>
                    <div class="item">
                        <div class="title">Hybrid App</div>
                        <p>语言：JavaScript</p>
                        <p>框架：Ionic</p>
                    </div>
                    <div class="item">
                        <div class="title">iOS App</div>
                        <p>语言：Swift, Objective-C</p>
                        <p>工具：CocoaPods</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="part" id="education">
                <div class="title">
                    EDUCATION
                </div>
                <div class="part-content">
                    <div class="item">
                        <div class="time">09/2013 - Present</div>
                        <div class="details">上海交通大学电子信息与电气工程学院，信息安全专业本科生
                        </div>
                    </div>
                </div>
            </div>
            <div class="part" id="work-experiment">
                <div class="title">
                    EXPERIMENT
                </div>
                <div class="part-content">
                    <div class="item">
                        <div class="time">09/2013 - Present</div>
                        <div class="details">
                            <p><a href="http://dongyueweb.com/"><strong>东岳网络工作室</strong></a><i>角色：Web 组负责人</i></p>
                            <p>以技术交流为目的，以团队的形式进行 Web/移动端 开发的学生组织</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="time">05/2015 - 09/2015</div>
                        <div class="details">
                            <p><a href="http://helloword.cn/">HelloWord</a><i>角色：技术合伙人</i></p>
                            <p>开发在线英语教育的创业团队，后退出</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="time">09/2015 - Present</div>
                        <div class="details">
                            <p><a href="http://www.oneband.life/">执楠科技有限公司</a><i>角色：软件研发总监</i></p>
                            <p>进行智能硬件以及对应软件端的开发</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="time">11/2015 - Present</div>
                        <div class="details">
                            <p><strong>交大网络攻防实验室</strong><i>角色：实验室成员，从事 iOS 安全性研究</i></p>
                            <p>对 Web / 移动端 进行安全性研究的实验室</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="time">09/2013 - Present</div>
                        <div class="details">
                            <p>
                                在交大多次开展技术讲座并担任主讲人，如：Restful 讲座，<a href="http://tongqu.me/index.php/act/detail/view/7909">AngularJS 讲座</a>，Git 讲座
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="part" id="project">
                <div class="title">
                    PROJECT
                </div>
                <div class="part-content">
                    <div class="item">
                        <div class="time">09/2013 - Present</div>
                        <div class="details">
                            <p><a href="http://tongqu.me/">同去网</a><i>角色：Web 端负责人 & iOS 开发 | 相关技术：CodeIgniter, AngularJS, Redis</i></p>
                            <p>交大校园在线活动发布平台，在交大校园内影响深远，目前由东岳网络工作室维护，跨全平台，截至目前注册用户 56k+</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="time">09/2015 - Present</div>
                        <div class="details">
                            <p><a href="http://www.oneband.life/app.html">一刷校园</a><i>角色：软件端总负责人 | 相关技术：Django, Docker, Ionic</i></p>
                            <p>结合自己团队研发的手环，附加若干校园功能的产品，初期时使用 Inoic 开发 Hybrid App，后改用 Native App</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="time">12/2014 - 02/2015</div>
                        <div class="details">
                            <p><a href="http://axws.aixinwu.info">社区型爱心屋</a><i>角色：Web 前端开发 | 相关技术：Laravel, AngularJS</i></p>
                            <p>以小区为单位，在线爱心币为流通货币，进行物品（服务）的捐赠和租赁</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="time">10/2015 - Present</div>
                        <div class="details">
                            <p><a href="https://github.com/dyweb/web-stuff">Web 周报</a><i>角色：交稿者 & 催稿人</i></p>
                            <p>每周由所有成员进行技术投稿，并轮流当作催稿人整理稿件，最后以邮件的形式发送给东岳的成员</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="time">12/2014 - 02/2015</div>
                        <div class="details">
                            <p><a href="http://helloword.cn">HelloWord</a><i>角色：Web 前后端开发 | 相关技术：ReactJS, MongoDB</i></p>
                            <p>在线背单词平台，涉及大规模数据处理</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="time">11/2015 - Present</div>
                        <div class="details">
                            <p><strong>iOS 8/9 在越狱/非越狱下数据的窃取</strong><i>角色：研究人员</i></p>
                            <p>探究 iOS 系统的安全性</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="time">11/2014</div>
                        <div class="details">
                            <p><strong>dyGroup</strong><i>角色：Web 前端开发 | 相关技术：Laravel, AngularJS, Redis, Socket.io</i></p>
                            <p>在上海马拉松比赛中与另外两人24小时内完成，类似 Slack 的即时沟通 + 信息聚合工具，主要面向中小团队</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="time">12/2014</div>
                        <div class="details">
                            <p><strong>快捷打印</strong><i>角色：总负责人 | 相关技术：Laravel, AngularJS</i></p>
                            <p>一个让用户可以在线预约打印的平台</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="time">12/2015</div>
                        <div class="details">
                            <p><strong>Uranus</strong><i>角色：负责人 | 相关技术：AngularJS, Socket.io, Express</i></p>
                            <p>一个网页版在线聊天的平台，支持一对一聊天，群组，文件传输</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>